.modal {
  width: 90%;
  height: 80vh;
  background-color: whitesmoke;
  border-radius: 16px;
  position: fixed;
  top: 10%;
  left: 5%;
  z-index: 1000000;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  &.modal_show {
    display: block;
  }

  &.modal_hide {
    display: none;
  }

  .modalMain {
    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
      position: absolute;
      font-weight: 600;
      right: 0%;
      top: -3%;
    }
  }
}
